body {
  background-color: #f3f3ee;
  margin: 0;
  padding: 0;
}

h1,h2 {
  font-family: 'Prata', serif;
  color: black;
}

h1.recipe{
  margin-top: 0;
  vertical-align: middle;
  text-align: center;
  line-height: 80px;
}
h2.cheesemac {
  margin:auto;
  padding: 3px;
  text-align: center;
  width:210px;
  background-color:white;
  margin-top: -10px;
}

h2.ing{
  margin:left;
  padding: 3px;
  text-align: center;
  align:left;
  width:130px;
  background-color:white;
}

h2.meth{
  margin:left;
  padding: 3px;
  text-align: center;
  align:left;
  width:130px;
  background-color:white;

}

#wrap {
  width: 720px;
  margin:auto;
}

ul,ol {
  font-family: sans-serif;
  margin: center;
  display: block;
}
ul{
    display:inline-block;
    float: left;
}
ol{
  display:block;
  float: right;
}

li {
  line-height: 30px;
  color: black;
}
.mac {
  width: 103px;
  height:103px;
  margin-bottom: -55.5px;
  margin-top:20px;
}
.flour {
  width: 103px;
  height:103px;
  margin-bottom: -55.5px;
  margin-top:20px;
  margin-left: -4px;
}
.milk {
  width: 103px;
  height:103px;
  margin-bottom: -55.5px;
  margin-top:20px;
  margin-left: -4px;
}
.butter {
  width: 103px;
  height:103px;
  margin-bottom: -55.5px;
  margin-top:20px;
  margin-left: -4px;
}
.pepper {
  width: 103px;
  height:103px;
  padding:0px;
  margin-bottom: -55.5px;
  margin-top:20px;
  margin-left: -4px;
}
.cheese {
  width: 103px;
  height:103px;
  margin-bottom: -55.5px;
  margin-top:20px;
  margin-left: -4px;
}
.powder {
  width: 103px;
  height:103px;
  margin-bottom: -55.5px;
  margin-top:20px;
  margin-left: -4px;
  float: right;
}

img.cheesy {
  margin: center;
  padding:0px;
  opacity: 1.0;
  margin-top: 50px;

}

img.cheesy:hover{
  opacity: 0.5;
}
.ingredients {
 width: 300px;
 float: left;
}
.method{
  width: 400px;
  float: left;
  padding: 0px;
}

.top {
  width: 100%;
  height: 80px;
  background-color: white;
  padding: 0,0,0,0;
  margin: 0px;
  align-items: middle;

}
